.visited-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
}

.visited-prof-active-area {
    position: relative;
    top: -90px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 75%;
    flex-wrap: wrap;
}

.visited-prof-employee-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.visited-prof-achmil-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.achievements-section,
.milestones-section {
    /* width: 100%; */
    width: auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

.employee-user-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    /* height: 210px; */
}