.activity {
    background-color: #d3d3d3;
    width: 100%;
    /* Match container width */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
