/* Login Page styling */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(50,68,77,1) 0%, rgba(130,237,155,1) 50%, rgba(98,110,116,1) 100%);
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}



.login-container input {
    background: #F2F2F2;
    border: 1px solid #555;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin: 10px auto;
    outline: none;
    display: block;
}

.login-container input:focus {
    border-color: #00575f;
    box-shadow: 0 0 5px #00575f;
  }

.login-container button {
    width: 30%;
    color: #FFFFFF;
    cursor: pointer;
    background-color:  rgb(0, 79, 95);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 20px;
    font-family: NotoSans;
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    outline: none;
    margin: 10px auto;
}

.login-container button:hover {
    box-shadow: 0 0 20px rgba(0, 255, 187, 0.7), 0 0 40px rgba(0, 255, 255, 0.3);
}


.login-container p {
    color: #ff3860;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
/* Keyframes for a smooth fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}