.post-creation-component {
    /* width: 548px;
    height: 319px; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-creation-box {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-prompt {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    color: hsla(200, 21%, 25%, 0.5);
}

.post-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.post-dialog {
    width: 885px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

.post-dialogue-header {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}

.post-dialogue-close-bttn {
    /* margin-right: 20px; */
    width: 20px;
    height: 20px;
    margin-bottom: 35px;
}

.user-info {
    display: flex;
    flex-direction: column;
    height: 25px;
}

.user-info h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 500px;
}

.user-info p {
    margin-top: 0px;
    width: 500px;
}

.post-textarea-contents {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

/* Button for selecting audience */
.audience-dropdown-btn {
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #007BFF;
    padding: 5px;
    margin-left: 10px;
}

/* Dropdown container for audience */
.audience-dropdown {
    position: absolute;
    top: 65px;
    /* Adjust based on where you want it to appear */
    left: 160px;
    /* Adjust to align with the button */
    background-color: white;
    border-radius: 5px;
    z-index: 10;
}

/* Button for media attachment */
.attachment-btn {
    background-color: #82ED9B;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

/* Dropdown container for media types */
.media-dropdown {
    position: absolute;
    top: 375px;
    /* Adjust position relative to attachment button */
    left: 70px;
    /* Align it properly */
    background-color: white;
    border-radius: 5px;
    z-index: 10;
    width: 100px;
}

/* Styling the select options within the dropdown */
select {
    font-size: 14px;
    padding: 5px;
    width: 150px;
}

.attachment-btn img {
    width: 20px;
    height: 20px;
}

.post-textarea {
    font-family: 'Noto', sans-serif;
    color: hsla(200, 21%, 25%, 0.5);
    /* width: 100%; */
    height: 225px;
    margin-top: 20px;
    padding: 10px;
    /* border-radius: 5px; */
    border: none;
    resize: none;
    font-size: 20px;
}

.post-dialogue-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: end; */
    /* margin-top: 10px; */
    /* position: relative; */
    /* To avoid overlapping */
}

.post-dialogue-footer hr {
    width: 100%;
    color: hsla(200, 21%, 25%, 0.5);
}

/* .attachment-btn.active {
    background-color: #82ED9B;
    border: none;
} */

.post-btn {
    background-color: #f0f0f0;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: not-allowed;
    opacity: 0.5;
    margin-left: 750px;
    width: 80px;
    height: 35px;
    font-size: 18px;
    font-family: "Noto", sans-serif;
    font-weight: bold;
    z-index: 5;
}

.post-btn.active {
    background-color: #82ED9B;
    cursor: pointer;
    opacity: 1;
    border: none;
    border-radius: 5px;
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 220px;
}

.media-preview-container {
    margin-top: 20px;
}

.media-preview-container h4 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 14px;
    color: #32444D;
}

.media-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.preview-media-item {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.media-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-preview-video {
    width: 100%;
    height: 100%;
    border: none;
}

.media-preview-link {
    display: block;
    width: 100%;
    height: 100%;
    color: #007bff;
    text-decoration: underline;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
}

.remove-media-btn {
    position: absolute;
    top: 0px;
    /* right: 5px; */
    /* background: rgba(0, 0, 0, 0.7); */
    /* color: white; */
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
}

.media-attachment button {
    border: none;
    background: transparent;
    width: 80px;
    margin-left: 5px;
    padding: 5px;
}

.media-attachment button:hover {
    background: #82ED9B;
}

.media-attach-close-bttn {
    width: 15px;
    height: 15px;
}

.remove-media-btn:hover {
    background: #f2f2f2;
}