.employee-user-container {

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

}


.employee-user-container-top {
    background-color: #82ED9B;
    height: 100px;
    /* Adjusted height */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    top: -40px
}


.employee-info {
    margin-top: -50px;
    display: flex;
    align-items: start;
    gap: 40px;
}


.employee-user-avatar {
    width: 165px;
    /* Adjust size for balance */
    height: 165px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
   

}


.employee-user-details {
    margin-left: 180px;
    text-align: left;
}

.employee-user-details h2 {
    font-size: 20px;
    font-weight: bold;
    color: #32444d;
    margin-bottom: 5px;
}

.employee-user-details p {
    font-size: 14px;
    color: #626e74;
    margin: 5px 0;
}