.top-bar {
    width: 100%;
    height: 60px;
    background-color: #32444d;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
}

/* Left Icon Container */
.left-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

/* Right Container (Search bar and right icons together) */
.right-container {
    display: flex;
    gap: 19px;
    align-items: center;
    margin-left: auto;
    margin-right: 182px;
}

/* Search input container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;
    height: 34px;
    background-color: #626e74;
    border-radius: 10px;
    margin-left: 0;
}

/* Search input field */
.search-input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 14px;
}

.search-input::placeholder {
    color: white;
    opacity: 1;
}

/* Search icon styling */
.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    object-fit: cover;
}

/* Right Icon Container */
.right-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

/* Icon styling */
.icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.icon-peakon {
    width: 35px;
    height: 22px;
    object-fit: cover;
}