.employee-tasks {
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.task-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    /* background-color: #f9f9f9; */
    /* border-radius: 8px; */
    gap: 15px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
    width: 95%;
}

.task-item.overdue {
    background-color: #ffe6e6;
}

.task-item.overdue .task-deadline {
    color: #f44336;
}

.task-item .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
}

.task-item .icon {
    width: 20px;
    height: 20px;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.task-item span {
    flex-grow: 1;
    margin-left: 5px;

}

.task-item .task-deadline {
    margin-left: auto;
    white-space: nowrap;
    text-align: right;
    font-size: 14px;
    color: #626e74;
}

.task-actions button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.task-actions .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.add-task-button {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #82ED9B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.modal-content h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #32444d;
}

.task-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.task-form label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #626e74;
}

.task-form input,
.task-form textarea {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.task-form textarea {
    resize: vertical;
    min-height: 80px;
}

.task-form .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.form-actions .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.form-actions .delete-button img {
    width: 20px;
    height: 20px;
}

.form-actions .cancel-button,
.form-actions .save-button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.save-button {
    background-color: #4caf50;
    color: white;
}

.task-search-bar {
    width: 80%;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: 10px center;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); */
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;

}

.search-add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 60px;
    gap: 10px;
}

.employee-task-delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.employee-tasks-filter-buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.employee-tasks-filter-buttons button {
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    color: #32444D;
    padding: 5px;
}

.employee-tasks-filter-buttons button:hover,
.employee-tasks-filter-buttons button:active {
    background-color: #f2f2f2;
}