.datamind-heading {
    position: relative;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    z-index: 2;
    /* Ensure it stays above the .employee-user-container-top */
}


.datamind-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0px;
    margin-top: 30px;
    margin-right: 20px;
}

/* Dropdown Styled as Input */
.datamind-dropdown {
    appearance: none;
    position: absolute;
    padding: 8px 12px;
    font-size: 14px;
    color: #626E74;
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    width: 250px;
    right: 20px;
    z-index: 1;
}

/* Placeholder Option */
.datamind-dropdown option[disabled] {
    color: #a9a9a9;
    /* Lighter color for placeholder */
}

/* Button */
.datamind-button {
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #32444D;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 5;
}

.datamind-button:hover {
    background-color: #42657D;
}