.header {
    background-color: #B4FBC4;
    height: 324px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header h1 {
    font-family: 'Noto', sans-serif;
    color: #32444D;
    font-size: 36px;
}